CREATE TABLE IF NOT EXISTS infrastructure_inventory_archive (inventory_id INT PRIMARY KEY, classification_type VARCHAR(255), item_description TEXT, nature_occupancy VARCHAR(255), location VARCHAR(255), date_constructed_acquired_manufactured DATE, property_no_or_reference VARCHAR(255), acquisition_cost DECIMAL(15,2), market_appraisal_insurable_interest DECIMAL(15,2), date_of_appraisal DATE, remarks TEXT, additional_image TEXT, archived_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, deletion_reason VARCHAR(255));
